<h1>Contacts</h1>

<div ng-app='app.contactsApp' ng-controller='ContactsCtrl'>

  <form name="contactsForm" ng-submit="contactsForm.$valid && addContact()" novalidate>
    <input type="text" placeholder="First Name" ng-model="newContact.first_name" ng-minlength="3" ng-minlength="35" required>
    <input type="text" placeholder="Last Name" ng-model="newContact.last_name" ng-minlength="3" ng-minlength="35" required>
    <input type="text" placeholder="Address" ng-model="newContact.address">
    <input type="text" placeholder="City" ng-model="newContact.city">

    <select ng-model="newContact.state_province" ng-options="option for option in stePrvOpts">
      <option value="" disabled selected>State/Province</option>
    </select>

    <select ng-model="newContact.country" ng-options="option for option in countryOpts" ng-change="getStePrvOpts()">
      <option value="" disabled selected>Country</option>
    </select>

    <input type="text" ng-pattern="/^(\d{5}-\d{4}|\d{5})$/" placeholder="Zip" ng-model="newContact.zip">
    <input type="text" ng-pattern="/^\d{10}$/" placeholder="Phone" ng-model="newContact.phone" required>
    <input type="email" placeholder="Email" ng-model="newContact.email" required>

    <input type="submit" ng-disabled="contactsForm.$invalid" value="Add Contact">
  </form>

  <hr>

  <ul>
    <li ng-repeat="contact in contacts">
      {{ contact.first_name }}
      {{ contact.last_name }}
      {{ contact.address }}
      {{ contact.city }}
      {{ contact.state_province }}
      {{ contact.country }}
      {{ contact.zip }}
      {{ contact.phone }}
      {{ contact.email }}
      <!-- <button ng-click="updateContact(contact)">Update</button> -->
      <button ng-click="removeContact(contact)">Delete</button>
    </li>
  </ul>

</div>
